@charset "UTF-8";
/* CSS Document */

/*colours for main page menu bars, including gradients*/


.getting_started {
	background: linear-gradient(180deg,#F7612A, #E5B3B4);
	border-radius: 10px;
	
}
.flying_online {
	background:linear-gradient(180deg,#044757,#A1C7D0);
	border-radius: 10px;
}

.community {
	background:linear-gradient(180deg,#0E4F10,#98AF99);
	border-radius: 10px;
	
}

.reviews {
	background:linear-gradient(180deg,#8F38D5,#B3A0C1);
	border-radius: 10px;
}

/*alternative style with one colour and no gradients */

.menu_items {
	color: white;
	background-color: #5B6D75;
	border: white 1px;
	border-radius: 10px;	
}
.h4 , .getting_started , .flying_online , .community , .reviews{
	color:white;
}
/*end of colours section for menu bars */
/*this section adds a 10px top margin for menu items */
.media.reviews, .media.community,.media.flying_online, .media.getting_started {
	margin-top:10px;
}


#banner {
	margin-top:20px;
}

@media (max-width:767px) {
	h1 #banner {
	margin-top:50px;
	font-size: smaller;
	}
	
/*these styles are for the top and bottom headings sandwiching the main banner */
.col.banner_heading h1 {
	color: #555353;
	font-family:Impact;
	font-variant: small-caps;
	text-align: center;
	
}
	.col.banner_heading h2 {
		font-siz:smaller;
		
	}
}

/*we also need a media query for these styles, we do not want the text shadow at the smaller screen sizes*/

@media (min-width:768) {col.banner_heading h1 {
	text-shadow: 5px 5px;
	}
}
.media {
	padding:7px;
	margin-bottom:5px;
}
.getting_started_icon {
	display:inline;
	float:left;
}

a {
	text-decoration: none;
	display: inline;
	color:white;

	
}

/*style for the hover effect on the menu items */
.media.menu_items {
	color:#F9F4F4;

}

.sim_desc {
    width: 100%;
    padding: 2px;
    
   
}

.sim_image {

	margin-right:10px;
	
}

/*navbar colors from smarchal.com */
#joystick_list a {
	text-decoration: none;
	color: darkgray;


}

#joystick_list a:hover {
	color:black;
}

#joystick_list li {
	list-style-type:none;
}

.rudder_link {
	color:black;
}

.link_text {
	font-size: smaller;
	color: #3A3A3A;
	font-weight: bold;
}